/* .buttongroup1{
    justify-content: center;
   
    padding-top: 2rem;
       align-Items: center;
         margin: theme-spacing(1);
   }
   
   .buttongroup2{
       justify-content: center;
       padding-top: 2rem;
          align-Items: center;
            margin: theme-spacing(1);
      }
      
      .total_button{
          display: flex;
        justify-content: space-between; 
        margin-top: 50px;
        margin-bottom: 40px;
        margin-right: 620px;
        margin-left: 620px;
      }
   
   
     .navbar{
         padding-bottom: 100px;
     } 
      .form1{
       width: 360px;
       margin: auto;
       padding-top: 15px;
       padding-left:35px;
       padding-bottom:15px;
       padding-right:35px;
       box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
       border-radius: 10px;
       background: rgb(250, 245, 245);
     }
     .label1{
       display: block;
       margin: 20px 0 10px;
     }
     .button{
       margin-top: 30px;
       border-radius: 36px;
       background: #FEE996;
       border:0;
       text-transform: uppercase;
       font-weight: 700;
       font-size: 0.8em;
       display: block;
       padding: 10px 16px;
       letter-spacing: 2px;
     }
     .buttondiv{
         display: flex;
         justify-content: space-between;
     } */
     .gallery{
      display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    margin-top: 10px;
    }
    .item{
      width:30%
    }
    .background_img{ 
      background: url("https://i.pinimg.com/originals/8d/fb/ef/8dfbefe579837533072622af04cd05f0.jpg") no-repeat  ;
      background-size:cover;
      height:15rem  ;
      border-bottom-left-radius:40px;
      border-bottom-right-radius:40px;
    
    
    }      
    
    .active{
      width: 20px;
      height: 20px;
      border-radius: 20px;  
      margin-top : 20px;
      margin-left : 10px;
      
      right: calc(50% - 70px);
      top: 75px;
      background-color: #07ff3d;
      border: 3px solid #fff;
    
    }
    .center-me{
      width: 60vw;
      margin: auto;
      display: flex;
     
      justify-content: space-between;
      align-items: center;
  } 
  .total {
   
    font-size: 26px;
  }