/* .greeting{
    font-family: 'Bungee Inline', cursive;
    background-color: rgb(255, 250, 250);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    } */
    .greeting{
        background-color: rgb(255, 250, 250);
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    
    body {
        background-color: lavender;
    }