.toolBar{
    display: flex;
    justify-content: space-between;
  
  }
  a {
    text-decoration: none;
    color: black;
  }
  .typography{
    flex : 1 ; 
  }
  .mys{
    color: white;
    margin-left: 10px;
  }

  .center {
      display: flex;
      justify-content: center;
  }

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
