.infoWindow{
    color:red;
    font-size: 15px;
    font-weight: bold;
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
}
.infoWindow *{
    height:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}
.go{
    border:2px solid purple;
    border-radius: 5px;
    width:100px;
    height: 30px;
}
.go:hover{
    background-color:pink;
}
