.buttongroup1{
    justify-content: center;
    padding-top: 2rem;
       align-Items: center;
         margin: theme-spacing(1);
   }
   
   .buttongroup2{
       justify-content: center;
       padding-top: 2rem;
          align-Items: center;
            margin: theme-spacing(1);
      }
      
      .total_button{
          display: flex;
        justify-content: space-between; 
        margin-top: 50px;
        margin-bottom: 40px;
        margin-right: 620px;
        margin-left: 620px;
      }
   
   
     .navbar{
         padding-bottom: 100px;
     } 
      form{
       width: 360px;
       margin: auto;
       padding-top: 15px;
       padding-left:35px;
       padding-bottom:15px;
       padding-right:35px;
       box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
       border-radius: 10px;
       background: rgb(250, 245, 245);
     }
     input{
       padding: 10px 12px;
       border-radius: 4px;
       border: 1px solid #ddd;
       font-size: 1em;
       width: 100%;
     }
     label{
       display: block;
       margin: 20px 0 10px;
     }
     button{
       margin-top: 30px;
       border-radius: 36px;
       background: #FEE996;
       border:0;
       text-transform: uppercase;
       font-weight: 700;
       font-size: 0.8em;
       display: block;
       padding: 10px 16px;
       letter-spacing: 2px;
     }
     .buttondiv{
         display: flex;
         justify-content: space-between;
     }